apiVersion: v1
kind: Secret
metadata:
  name: tgp-secret
  namespace: homelab
type: Opaque
stringData:
  AUTH_KEY: "change-me"
  AUTH_ISSUER: "change-me"
  DB_DATABASEHOST: "tgp-db"
  SERVER_ALLOWEDORIGINS: "https://tgp.sqweeb.net"
  SERVER_PORT: "8080"
  DB_PASSWORD: "change-me"
