body {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: #121212;
    color: rgb(131, 123, 123);
}

h1 {
    color: lightseagreen;
}

a {
    /* float: left; */
    color: whitesmoke;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 22px;
    line-height: 35px;
    border-radius: 2px;
    border-width: 1px;
    text-shadow: hotpink;
    box-shadow: hotpink;
}

a:hover {
    color: hotpink;
}

a:active {
    color: lightblue;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
}

.grid-item {
    background-color: rgba(43, 40, 40, 0.568);
    border: 1px solid lightseagreen;
    padding: 15px;
    font-size: 30px;
    text-align: center;
}

.grid-item:hover {
    background-color: rgb(131, 123, 123);
}